{% load crispy_forms_tags %}

<h3>Register Page</h3>

<br>

<form action="" method="post">
    {% csrf_token %}

    <div class="card mx-auto" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title">Enter credentials</h5>
            {{ form|crispy }}
            <a href="{% url 'home' %}" class="card-link">Home</a>
            <a href="{% url 'account_login' %}" class="card-link">Login</a>

            <button class="btn btn-sm btn-primary float-end" type="submit">Register</button>
        </div>
    </div>

</form>