{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h3>Password Reset</h3>
<br>

<div class="card mx-auto" style="width: 30rem;">
    <div class="card-body">
        <h5 class="card-title">{% trans "Check your email" %}</h5>
        <p>
            {% trans "If an account exists with the email address you entered, we have sent a password reset link." %}
        </p>
        <p class="mb-0">
            {% trans "Please check your inbox (and spam folder) and follow the instructions." %}
        </p>
    </div>
</div>

{% endblock %}
