{% extends "base.html" %}
{% load crispy_forms_tags i18n %}

{% block content %}
<h3>Password Reset</h3>
<br>

<form method="post" action="{% url 'account_reset_password' %}">
    {% csrf_token %}

    <div class="card mx-auto" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title">{% trans "Forgot your password?" %}</h5>

            <p class="mb-3">
                {% trans "Enter your email address and we'll send you a link to reset your password." %}
            </p>

            {{ form|crispy }}

            <button class="btn btn-sm btn-primary float-end" type="submit">
                {% trans "Reset my password" %}
            </button>
        </div>
    </div>
</form>

{% endblock %}
