{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<h3>Products Page</h3>

<!-- TODO: how the product look like -->
<!-- Display products only if not in create_mode or edit_mode -->
{% if not create_mode and not edit_mode %}
    {% if products %}
        {% for product in products %}
            <p>{{ product.name }}</p>
        {% endfor %}
    {% else %}
        <p>No products available.</p>
    {% endif %}
{% endif %}

{% if user.is_authenticated %}
    {% for group in user.groups.all %}
        {% if group.name == 'Seller' %}
            {% if not create_mode and not edit_mode %}
                <a href="{% url 'create_product' %}" class="btn btn-success">Create New Product</a>
            {% endif %}
            {% if create_mode %}
                <br>
                <div class="card mx-auto" style="width: 30rem;">
                    <div class="card-body">
                        <h5 class="card-title">Create New Product</h5>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <a href="{% url 'product_list' %}" class="btn btn-sm btn-secondary float-start">Cancel</a>
                            <button type="submit" class="btn btn-sm btn-primary float-end">Save Product</button>
                        </form>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock %}