{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
  <h3>Profile of {{ user_obj.username }}</h3>

    {% load static %}
    <div class="mb-3 text-center">
      {% if user_obj.profile.avatar %}
        <img src="{{ user_obj.profile.avatar.url }}"
             alt="Profile picture"
             id="profile-picture"
             class="rounded-circle"
             style="width: 120px; height: 120px; object-fit: cover; object-position: center; border: 2px solid #ccc;">
      {% else %}
        <img src="{% static 'avatar_placeholder.png' %}"
             alt="Profile picture placeholder"
             id="profile-picture"
             class="rounded-circle"
             style="width: 120px; height: 120px; object-fit: cover;">
      {% endif %}
    </div>

  {% if edit_mode %}
    <form method="post" enctype="multipart/form-data" class="mt-4">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label"><strong>Profile image:</strong></label>
        {{ form_profile.avatar }}
        {{ form_profile.avatar.errors }}
      </div>
      <div class="mb-3">
        <label class="form-label"><strong>Name:</strong></label>
        {{ form.first_name }}
      </div>
      <div class="mb-3">
        <label class="form-label"><strong>Surname:</strong></label>
        {{ form.last_name }}
      </div>
      <div class="mb-3">
        <label class="form-label"><strong>Email:</strong></label>
        {{ form.email }}
      </div>
        <div class="mb-3">
        <label class="form-label"><strong>Phone number:</strong></label>
        {{ form_profile.phone_number }}
      </div>
        <div class="mb-3">
        <label class="form-label"><strong>Birthday:</strong></label>
        {{ form_profile.birthdate }}
      </div>
      <div class="mb-3">
        <label class="form-label"><strong>Date joined:</strong></label>
        <input type="text" class="form-control" value="{{ user_obj.date_joined }}" disabled>
      </div>
      <div class="text-end mt-3">
        <a href="{% url 'profile' user_obj.username %}"
          class="btn btn-secondary text-uppercase">
          Cancel
        </a>
          <button type="submit" class="btn"
          style="background-color:#2d4a3e; color:white; text-transform:uppercase;">
          Save
        </button>
      </div>
    </form>
  {% else %}
    <ul>
      <li><strong>Name:</strong> {{ user_obj.first_name|default:"--" }}</li>
      <li><strong>Surname:</strong> {{ user_obj.last_name|default:"--" }}</li>
      <li><strong>Email:</strong> {{ user_obj.email|default:"--" }}</li>
      <li><strong>Phone number:</strong> {{ user_obj.profile.phone_number|default:"--" }}</li>
      <li><strong>Birthday:</strong> {{ user_obj.profile.birthdate|date:"d-m-Y"|default:"--" }}</li>
      <li><strong>Date joined:</strong> {{ user_obj.date_joined }}</li>
    </ul>
    {% if request.user == user_obj or request.user.is_staff %}
      <div class="text-end mt-3">
        <a href="{% url 'profile' user_obj.username %}?edit=1"
           class="btn"
           style="background-color:#2d4a3e; color:white; text-transform:uppercase;">
          Edit
        </a>
      </div>
    {% endif %}
  {% endif %}
    {% if messages %}
      <div class="mt-4">
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if user_obj.is_authenticated and 'Seller' not in user_obj.groups.all|join:"," %}
      <div class="mt-4 text-center">
        <p>Contact us if you want to be a seller: <a href="mailto:seller@goodbite.com">seller@goodbite.com</a></p>
      </div>
    {% endif %}
{% endblock %}